
body{
    background-color: #ffe6e585;
    background-position: center;
    background-size: cover;
    div{
        h1{     
            color: #f48fb1;
        }
        h3{
            color: rgba(0, 0, 255, 0.297);
        }
}
section{
    padding-block: min(20vh, 2rem);
    width: calc(min(76.5rem,90%));
    margin-inline: auto;
    color: black;
    h1{
        text-transform: capitalize;
        letter-spacing: 0.025em;
        font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
    }
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container{
    margin: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}
.card{
    border-radius: 70px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.297);
    overflow: hidden;
    font-family: serif;
    transition: 0.3s;
    flex: 1 1 300px;
    padding: 30px;;
    background: linear-gradient(to right ,#f07167, #f07167);
}
.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 255, 0.297);
}
.card-img{
    width: 150;
    float: right;
}
.img-container{
    width: 150px;
    background-size:cover ;
    background-position: center;
    flex-shrink: 0;
}
.card content{
    flex: 1;
    padding: 15px;
}
a{
    text-decoration: none;
    color: black;
}
}
h1{
    font-size: 50px;
    font-family: serif;
    color: #f48fb1;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px 50px;
}
nav ul{
    display: flex;
    text-decoration: none;
    font-size: large;
}
